* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #006330;
}

h1 {
  padding-top: 20px;
  color: #e9e3d7;
}

.player-count,
.dealer-count {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.dealerCards,
.playerCards {
  height: 5.3 em;
}

.playerCards {
  margin-bottom: 10px;
}

h1 {
  padding-top: 25px;
  color: #cecbc5;
}

blockquote {
  color: white;
  height: 2.5rem;
}

p.mb-0.message {
  font-size: 20px;
}

.card {
  padding: 0;
  margin: 0 auto;
  background: #00763a;
  border: none;
}

.row {
  display: flex;
  justify-content: center;
}

.player-info {
  margin-bottom: 5px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.card>p,
span,
h5 {
  color: white;
}

.button-group,
.form-inline {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.btn {
  margin: 0 10px;
}

img {
  width: 286px;
  display: flex;
  margin: auto;
  border-radius: 10px;
}

.mat {
  width: 100%;
  margin: -10px 0 -15px 0;
}



.playing-card {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  /* card's dimensions, and size it relative to
     it's font size. */
  font-size: inherit;
  width: 4.0em;
  height: 5.3em;
  /* background color and border */
  background-color: white;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3e9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* "Hide" any text within the element */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.playing-card.xlarge {
  font-size: 42px;
}

.playing-card.no-border {
  border: 0;
}

.playing-card.shadow {
  box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75);
}

.playing-card.outline {
  background-image: none;
  background-color: rgba(195, 195, 195, 0.354);
  border: 0.15em dashed #eeb420;
}

.playing-card.small {
  font-size: 12px;
}

.playing-card.large {
  font-size: 26px;
}

.playing-card.diamonds.A,
.playing-card.dA,
.playing-card.♦A {
  background-image: url("../images/diamonds/diamonds-A.svg");
}

.playing-card.diamonds.K,
.playing-card.dK,
.playing-card.♦K {
  background-image: url("../images/diamonds/diamonds-K.svg");
}

.playing-card.diamonds.Q,
.playing-card.dQ,
.playing-card.♦Q {
  background-image: url("../images/diamonds/diamonds-Q.svg");
}


.playing-card.diamonds.J,
.playing-card.dJ,
.playing-card.♦J {
  background-image: url("../images/diamonds/diamonds-Q.svg");
}

.playing-card.diamonds.r10,
.playing-card.d10,
.playing-card.♦10 {
  background-image: url("../images/diamonds/diamonds-r10.svg");
}

.playing-card.diamonds.r09,
.playing-card.d09,
.playing-card.♦09 {
  background-image: url("../images/diamonds/diamonds-r09.svg");
}

.playing-card.diamonds.r08,
.playing-card.d08,
.playing-card.♦08 {
  background-image: url("../images/diamonds/diamonds-r08.svg");
}

.playing-card.diamonds.r07,
.playing-card.d07,
.playing-card.♦07 {
  background-image: url("../images/diamonds/diamonds-r07.svg");
}

.playing-card.diamonds.r06,
.playing-card.d06,
.playing-card.♦06 {
  background-image: url("../images/diamonds/diamonds-r06.svg");
}

.playing-card.diamonds.r05,
.playing-card.d05,
.playing-card.♦05 {
  background-image: url("../images/diamonds/diamonds-r05.svg");
}

.playing-card.diamonds.r04,
.playing-card.d04,
.playing-card.♦04 {
  background-image: url("../images/diamonds/diamonds-r04.svg");
}

.playing-card.diamonds.r03,
.playing-card.d03,
.playing-card.♦03 {
  background-image: url("../images/diamonds/diamonds-r03.svg");
}

.playing-card.diamonds.r02,
.playing-card.d02,
.playing-card.♦02 {
  background-image: url("../images/diamonds/diamonds-r02.svg");
}

.playing-card.hearts.A,
.playing-card.hA,
.playing-card.♥A {
  background-image: url("../images/hearts/hearts-A.svg");
}

.playing-card.hearts.K,
.playing-card.hK,
.playing-card.♥K {
  background-image: url("../images/hearts/hearts-K.svg");
}

.playing-card.hearts.Q,
.playing-card.hQ,
.playing-card.♥Q {
  background-image: url("../images/hearts/hearts-Q.svg");
}

.playing-card.hearts.J,
.playing-card.hJ,
.playing-card.♥J {
  background-image: url("../images/hearts/hearts-J.svg");
}

.playing-card.hearts.r10,
.playing-card.h10,
.playing-card.♥10 {
  background-image: url("../images/hearts/hearts-r10.svg");
}

.playing-card.hearts.r09,
.playing-card.h09,
.playing-card.♥09 {
  background-image: url("../images/hearts/hearts-r09.svg");
}

.playing-card.hearts.r08,
.playing-card.h08,
.playing-card.♥08 {
  background-image: url("../images/hearts/hearts-r08.svg");
}

.playing-card.hearts.r07,
.playing-card.h07,
.playing-card.♥07 {
  background-image: url("../images/hearts/hearts-r07.svg");
}

.playing-card.hearts.r06,
.playing-card.h06,
.playing-card.♥06 {
  background-image: url("../images/hearts/hearts-r06.svg");
}

.playing-card.hearts.r05,
.playing-card.h05,
.playing-card.♥05 {
  background-image: url("../images/hearts/hearts-r05.svg");
}

.playing-card.hearts.r04,
.playing-card.h04,
.playing-card.♥04 {
  background-image: url("../images/hearts/hearts-r04.svg");
}

.playing-card.hearts.r03,
.playing-card.h03,
.playing-card.♥03 {
  background-image: url("../images/hearts/hearts-r03.svg");
}

.playing-card.hearts.r02,
.playing-card.h02,
.playing-card.♥02 {
  background-image: url("../images/hearts/hearts-r02.svg");
}

.playing-card.spades.A,
.playing-card.sA,
.playing-card.♠A {
  background-image: url("../images/spades/spades-A.svg");
}

.playing-card.spades.K,
.playing-card.sK,
.playing-card.♠K {
  background-image: url("../images/spades/spades-K.svg");
}

.playing-card.spades.Q,
.playing-card.sQ,
.playing-card.♠Q {
  background-image: url("../images/spades/spades-Q.svg");
}

.playing-card.spades.J,
.playing-card.sJ,
.playing-card.♠J {
  background-image: url("../images/spades/spades-J.svg");
}


.playing-card.spades.r10,
.playing-card.s10,
.playing-card.♠10 {
  background-image: url("../images/spades/spades-r01.svg");
}

.playing-card.spades.r09,
.playing-card.s09,
.playing-card.♠09 {
  background-image: url("../images/spades/spades-r09.svg");
}

.playing-card.spades.r08,
.playing-card.s08,
.playing-card.♠08 {
  background-image: url("../images/spades/spades-r08.svg");
}

.playing-card.spades.r07,
.playing-card.s07,
.playing-card.♠07 {
  background-image: url("../images/spades/spades-r07.svg");
}

.playing-card.spades.r06,
.playing-card.s06,
.playing-card.♠06 {
  background-image: url("../images/spades/spades-r06.svg");
}

.playing-card.spades.r05,
.playing-card.s05,
.playing-card.♠05 {
  background-image: url("../images/spades/spades-r05.svg");
}

.playing-card.spades.r04,
.playing-card.s04,
.playing-card.♠04 {
  background-image: url("../images/spades/spades-r04.svg");
}

.playing-card.spades.r03,
.playing-card.s03,
.playing-card.♠03 {
  background-image: url("../images/spades/spades-r03.svg");
}

.playing-card.spades.r02,
.playing-card.s02,
.playing-card.♠02 {
  background-image: url("../images/spades/spades-r02.svg");
}

.playing-card.clubs.A,
.playing-card.cA,
.playing-card.♣A {
  background-image: url("../images/clubs/clubs-A.svg");
}

.playing-card.clubs.K,
.playing-card.cK,
.playing-card.♣K {
  background-image: url("../images/clubs/clubs-K.svg");
}

.playing-card.clubs.Q,
.playing-card.cQ,
.playing-card.♣Q {
  background-image: url("../images/clubs/clubs-Q.svg");
}

.playing-card.clubs.J,
.playing-card.cJ,
.playing-card.♣J {
  background-image: url("../images/clubs/clubs-J.svg");
}

.playing-card.clubs.r10,
.playing-card.c10,
.playing-card.♣10 {
  background-image: url("../images/clubs/clubs-r10.svg");
}

.playing-card.clubs.r09,
.playing-card.c09,
.playing-card.♣09 {
  background-image: url("../images/clubs/clubs-r09.svg");
}

.playing-card.clubs.r08,
.playing-card.c08,
.playing-card.♣08 {
  background-image: url("../images/clubs/clubs-r08.svg");
}

.playing-card.clubs.r07,
.playing-card.c07,
.playing-card.♣07 {
  background-image: url("../images/clubs/clubs-r07.svg");
}

.playing-card.clubs.r06,
.playing-card.c06,
.playing-card.♣06 {
  background-image: url("../images/clubs/clubs-r06.svg");
}

.playing-card.clubs.r05,
.playing-card.c05,
.playing-card.♣05 {
  background-image: url("../images/clubs/clubs-r05.svg");
}

.playing-card.clubs.r04,
.playing-card.c04,
.playing-card.♣04 {
  background-image: url("../images/clubs/clubs-r04.svg");
}

.playing-card.clubs.r03,
.playing-card.c03,
.playing-card.♣03 {
  background-image: url("../images/clubs/clubs-r03.svg");
}

.playing-card.clubs.r02,
.playing-card.c02,
.playing-card.♣02 {
  background-image: url("../images/clubs/clubs-r02.svg");
}

.playing-card.back {
  background-image: url("../images/backs/blue.svg");
}

.playing-card.back-red {
  background-image: url("../images/backs/red.svg");
}

.playing-card.back-blue {
  background-image: url("../images/backs/blue.svg");
}

.playing-card.west,
.playing-card.W {
  transform: rotate(90deg);
  margin: auto 0.75em;
}

.playing-card.west.shadow,
.playing-card.W.shadow {
  box-shadow: 2px -2px 3px 0 rgba(41, 40, 40, 0.75);
}

.playing-card.east,
.playing-card.E {
  transform: rotate(270deg);
  margin: auto 0.75em;
}

.playing-card.east.shadow,
.playing-card.E.shadow {
  box-shadow: -2px 2px 3px 0 rgba(30, 30, 30, 0.75);
}