body {
 font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Arial', sans-serif;
 background-color: #45a173;
 text-align: center;
 color:rgb(0, 255, 255);
}

#message-el {
  font-style: italic
 }
 
 h1 {
  color: gold;
 }
 
button {
  color: #016f32 ; 
  width: 150px;
  background: gold;
  padding-top: 5px;  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
 }